.controls button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
  cursor: pointer;
}

.controls button:hover {
  background: white;
  color: rebeccapurple;
}

.session {
  display: flex;
  justify-content: center
}

.controls {
  padding: 1em;

}
